* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Create variables here like the design system in tailwind  */

/* main variables */
:root {
    --grey-400: #8692A6;
    --grey-500: #696F79;
    --grey-50: #F6F6F6;
    --grey-800: #333333;
    --grey-100: #F2F2F2;
    --primary-900: #1DBF73
}

/* main variables */

main {
    overflow: hidden;
    background-color: #F6F6F6;
}

/* Navbar Section */

nav {
    min-height: 109px;
    box-shadow: 0px 4px 26px 0px #C8C8C88C;
}

.nav-inactive {
    color: #C3C5C8 !important;
}

.nav-active {
    color: var(--primary-900)
}

.nav-link {
    font-weight: 500;
    transition: none !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.notifications-svg {}

.notif-count {
    background-color: var(--primary-900);
    color: #FFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

/* Navbar Section */


/* Start Slogan */
.slogan h6 {
    color: var(--grey-400);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5%;
}

.slogan h3 {
    font-weight: 600;
    color: #000;
    font-size: 24px;
    line-height: 28.8px;
}

.slogan-others p {
    color: var(--grey-500);
    font-size: 16px;
    font-weight: 500;
}

.slogan-links a {
    text-decoration: none
}

/* End Slogan */


/* Start Slider */
.carousel-indicators {
    bottom: 20px;
}

.carousel-indicators .crs {
    border-radius: 50%;
    height: 10px !important;
    width: 10px !important;
}

.carousel-indicators button.active {
    background-color: var(--primary-900);
}


.carousel-control-next,
.carousel-control-prev {
    margin: 0px 15px;
    color: #FFF !important;
    background-color: #ffffff7c !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 45%;
    transform: translateY(-50%, -50%);
    opacity: 1 !important;
    transition: all .2s linear;
    font-weight: 100;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: #FFF !important;
    color: var(--primary-900) !important;
}

.carousel-control-next {}

.carousel-control-next span:first-of-type,
.carousel-control-prev span:first-of-type {
    color: #000 !important;
    opacity: 1 !important;
}





/* End Slider */


/* Start Description */
.desc h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.5%;
}

.desc p {
    background-color: #FFF;
    padding: 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5%;
    box-shadow: 0px 3px 40px -5px #20202012;
    border-radius: 15px;
    margin-top: 20px;
}

/* End Description */

/* Start Services */
.selector {
    cursor: pointer;
    padding: 10px;
    height: 40px;
    width: 40px;
    accent-color: green;
    clip-path: circle(40% at 50% 50%);
    border: 2px solid #F00;
}

/* End Services */

/* Start Purchase */
.purchase-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-count {
    min-width: 300px;
    height: 48px;
}

.purchase-count p {
    height: 100%;
}

.purchase-count p span {
    margin-top: 20px;
    display: block;
    font-weight: 600;
}

.purchase-count button {
    background-color: #FFF;
    color: var(--primary-900);
    border-radius: 50%;
    border: none;
    width: 28px;
    height: 28px;
}

.purchase-price {
    min-width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}


.purchase-button {
    width: 185px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--primary-900);
}

.pricing {
    background-color: var(--grey-50);
    border-radius: 8px;
}

/* End Purchase */












/* ============= Right side ============= */
/* ============= Right side ============= */
/* ============= Right side ============= */
/* ============= Right side ============= */
/* ============= Right side ============= */
/* ============= Right side ============= */
/* ============= Right side ============= */




/* Right side mains */
.right-main {}


.right-side-white {
    box-shadow: 0px 3px 40px -5px #20202012;
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
}

.right-side-white h2 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

/* Right side mains */



/* Start Profile card */



.profile-card .seller-name {
    margin-top: 15px;
}

.profile-rate {
    margin-top: -10px;
}

.profile-links a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--grey-50);
}

.profile-desc p {
    color: var(--grey-800);
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.5%;
    margin-top: 15px;
}


.profile-contact {
    width: 100%;
}

.profile-contact button {
    background-color: var(--primary-900);
    color: #FFF;
    border: none;
    border-radius: 8px;
    width: 100% !important;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* End Profile Card */


/* Make the same thing in one class */


/* Start Info */
.info h3 {
    font-size: 14px;
    font-weight: 500px;
    color: #000;
    margin-top: 3px;
}

.info p {
    font-weight: 500;
}

/* End Info */